---
import "../styles/global.css";
import { SITE } from "../config/site";
const { title = `${SITE.name}` } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>

  <body>
    <header>
      <nav>
        <a href="/">{SITE.name}</a>
        <div class="nav-links">
          <a href="/about/">About</a>
          <a href="/research/">Research</a>
          <a href="/publications/">Publications</a>
          <a href="/art/">Art</a>
        </div>
      </nav>
    </header>

    <main>
      <slot />
    </main>

    <footer>
      <p>© 2026 {SITE.name}</p>
    </footer>
  </body>
</html>